<!DOCTYPE html>
<html ng-app="notesApp">
<head>
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.7.8/angular-messages.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-aria.min.js"></script>
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css"/>
</head>
<body>
<div class="header">
    <p style="float:left; margin-left:10px">My Notes App</p>

    <md-button ng-controller="logoutController" style="float:right" ng-click="logout()">Logout</md-button>
</div>
<div ng-view=""></div>
</body>
</html>