<h4>Note</h4>

<form name="noteForm" ng-submit="addNote()">
    <md-input-container>
        <label>Title</label>
        <input type="text" ng-model="note.title" required md-maxlength="20" name="title">

        <div ng-messages="noteForm.title.$error">
            <small ng-message="required">This is required.</small>
            <small ng-message="md-maxlength">Title can't be longer than 20 characters.</small>
        </div>
    </md-input-container>

    <md-input-container>
        <label>Content</label>
        <textarea class="note-body" ng-model="note.content" rows="10" required md-maxlength="500" name="content">
                </textarea>


        <div ng-messages="noteForm.content.$error">
            <small ng-message="required">This is required.</small>
            <small ng-message="md-maxlength">Content can't be longer than 500 characters.</small>
        </div>
    </md-input-container>

    <md-input-container>
        <label>Summary</label>
        <textarea class="note-body" ng-model="note.summary" rows="2" required md-maxlength="100" name="summary">
        </textarea>


        <div ng-messages="noteForm.summary.$error">
            <small ng-message="required">This is required.</small>
            <small ng-message="md-maxlength">Summary can't be longer than 100 characters.</small>
        </div>
    </md-input-container>

    <div class="action-buttons">
        <md-button type="submit" ng-disabled="noteForm.$invalid">
            Save
        </md-button>
        <md-button>
            Cancel
        </md-button>
    </div>
</form>