<h4>Available notes</h4>

<ul class="notes-list">
    <li ng-repeat="n in notes" ng-click="selectNote(n.id)">
        <div ng-click="selectNote(n.id)">
            <p class="note-summary">{{n.title}}</p>
            <p class="note-summary">{{n.summary}}</p>
            <p class="note-timedate"><i>{{n.updated | date:'medium'}}</i></p>
        </div>
        <md-button ng-click="deleteNote(n.id)">X</md-button>
    </li>
</ul>
<md-button style="float:right" ng-click="newNoteView()">
    New Note
</md-button>