<div class="flexbox-parent">
    <div layout="column" layout-align="center center">
        <h1>Login</h1>
        <form name="loginForm">
            <md-input-container>
                <label>Username</label>
                <input type="text" ng-model="login.username" required name="username" autocomplete="off">

                <div ng-messages="loginForm.username.$error">
                    <small ng-message="required">This is required</small>
                </div>
            </md-input-container>

            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="login.password" required name="password">

                <div ng-messages="loginForm.password.$error">
                    <small ng-message="required">This is required</small>
                </div>
            </md-input-container>

            <p style="color:red" ng-show="invalidCreds">Invalid credentials</p>

            <div class="action-buttons">
                <md-button ng-click="login()">
                    Login
                </md-button>
            </div>
        </form>
    </div>
</div>