<div class="notes-view">
    <section class="notes-panel">

        <div ng-include="'partials/list-notes.html'"></div>
    </section>

    <section class="note-panel">

        <div  ng-if="note">
            <h4>Note</h4>
            <form name="noteForm">
                <md-input-container>
                    <label>Title</label>
                    <input type="text" ng-model="note.title" required md-maxlength="20" name="title">

                    <div ng-messages="noteForm.title.$error">
                        <small ng-message="required">This is required.</small>
                        <small ng-message="md-maxlength">Title can't be longer than 20 characters.</small>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Content</label>
                    <textarea class="note-body" ng-model="note.content" rows="10" required md-maxlength="500"
                              name="content">
                </textarea>


                    <div ng-messages="noteForm.content.$error">
                        <small ng-message="required">This is required.</small>
                        <small ng-message="md-maxlength">Content can't be longer than 500 characters.</small>
                    </div>
                </md-input-container>

                <div class="action-buttons">
                    <md-button ng-click="saveNote()" ng-disabled="noteForm.$invalid">
                        Save
                    </md-button>
                    <md-button ng-click="cancel()">
                        Cancel
                    </md-button>
                </div>
            </form>
        </div>


        <div ng-if="!note">
            No note selected
        </div>
    </section>
</div>